* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b3c50;
}

.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.main__circle {
    width: 250px;
    aspect-ratio: 1;
    background: #f0c20e;
    border-radius: 50%;
    margin: 20px;
}

.child__circle {
    width: 140%;
    height: 140%;
    position: absolute;
    transform: rotate(45deg);
    animation: circle 6s linear infinite;
}

.child__circle div {
    position: absolute;
    width: 100px;
    aspect-ratio: 1;
    background-color: #27ac5f;
    border-radius: 50%;
}

@keyframes circle {

    0%,
    15% {
        transform: rotate(45deg);
    }

    25%,
    40% {
        transform: rotate(135deg);
    }

    50%,
    65% {
        transform: rotate(225deg);
    }

    75%,
    90% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(405deg);
    }
}